.play-container {
    border: 2px solid black;
    height: 600px;
    width: 546px;
}
.category-button {
    width: 100px;
    
}
.category-box {
    margin: 15px;
}
.category-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px
}
.category-title {
    margin-top: 60px;
}
.mode {
    margin: 25px;
    font-weight: bold;
}
#cat1 {
    color: black;
}
#cat2 {
    color: black;
}
#cat3 {
    color: black;
}